{% extends "inst/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load count_like %}
<link rel="stylesheet" type="text/css" href="{% static 'users/profile_style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<span class="disappear" id="user-name">{{profile.user.username}}</span>
<span class="disappear" id="main-photo-url">{{profile.main_image.url}}</span>
<div class="profile-head" align="center">
    <div class="head-block" align="center">
        <div class="container">
            <img src="{{profile.main_image.url}}" accept="image/*" class="image">
            <div class="overlay">
                <div class="button-img">
                    <div class="input-file">
                        <form method="POST" action="{% url 'avatar_update'%}" id="main_photo" class="update-main-photo-form" enctype="multipart/form-data">
                            <label for="file" class="input-text11">Выбрать фото</label>
                            {% csrf_token %}
                            <input type="file" id="file" name="file">
                        </form>
                    </div>
                    <button type="submit" form="main_photo" class="load-file-button">
                        <span class="load-file-text ">Загрузить</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="media-body" align="left">
        <h2 class="account-heading" align="center">{{user.username}}</h2>
        <p class="text-secondary" align="center">{{user.email}}<br>
        {% if profile.website %}
            {{profile.website}}
        {% endif %}
        </p>
        <a href="{% url 'edit' %}"><h3 align="center">Редактировать профиль</h3></a>
    </div>
</div>
{% if profile.description %}
<div align="center"><div class="separate-line"></div></div>
<p class="menu-button no-border no-hover" align="center">{{profile.description}}</p>
<div align="center"><div class="separate-line"></div></div>
{% endif %}
<div align="center">
    <a href="{% url 'add_post' %}">
        <div class="add-post-button">
            <div class="plus-image"></div>
            <div class="menu-button no-hover no-border"><h3 class="hidden-text">-ADD POST-</h3></div>
        </div>
    </a>
</div>
<div align="center"><div class="separate-line" style="opacity:0.3;"></div></div>
<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="post-head">
            <img src="{{profile.main_image.url }}" class="small-avatar">
            <a href="{% url 'other_profile' user.username %}">{{ user.username }}</a>
        </div>
        <hr>
        <div class="cropped">
        <img src="{{ post.image.url }}" class="post-image"></div>
        <div class="like-container">


                <button
                        {% if user.username in post.liked_by %}
                        class="like like-button"
                        {% else %}
                        class="unlike like-button"
                        {% endif %}
                        onclick="like({{post.id}});" id="lk{{post.id}}" type="button">{% csrf_token %}
                </button>

        </div>
         <span class="likes_count" id="count{{post.id}}"> {{ post.liked_by|count }}</span>
        <hr>
        <span class="description-text">{{post.description}}</span><br>
        {% for tag in post.tags.names %}
            #{{tag}}
        {% endfor %}
        <hr>
<div id="comments{{post.id}}" class="comments">
    {% for com in comments %}
    {% if com.post_id == post.id %}
        <div class="comment">
            <div class="comment-author"><img src="{{com.author.profile.main_image.url }}" class="very-small-avatar">
            <a href="{% url 'other_profile' com.author.username %}" class="comment-username">{{ com.author.username }}</a>
            </div>
            <div class="comment-text">{{com.text}}</div>
        </div>
    {% endif %}
    {% endfor %}
</div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="text{{post.id}}" name="text">
        <button value="{{post.id}}" name="id" id="id" type="button" onclick="comment({{post.id}});" class="comment-button">↑</button>
    </form>


    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'users/my_ajax.js' %}"></script>
{% endblock %}


        {% for tag in tags %}
    {{t.name}}
    {% endfor %}
    <hr>
    </div>
{% endfor %}
</div>


{% endblock content %}